name: Pull Request

on:
  pull_request:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: 1.26

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x

      - name: Run CI
        run: task ci

      - name: Report test results
        uses: ctrf-io/github-test-reporter@024bc4b64d997ca9da86833c6b9548c55c620e40 # v1
        if: always()
        with:
          report-path: ./.out/ctrf-report.json
          pull-request: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}